@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #3B82F6;
  --color-background-light: #FFFFFF;
  --color-background-dark: #0B0B0E;
  --color-surface: #1A1A24;
  --color-accent: #1B2A41;
  --font-anton: 'Anton'; 
  --font-roboto: "Roboto", sans-serif;
  --font-lato: "Lato", sans-serif;

  --shadow-glow: 0 0 15px #3B82F6;
  --border: #E5E7EB;
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; 
  }

  :root {
    --background: var(--color-background-dark);
    --foreground: #ffffff;
    --card: var(--color-surface);
    --card-foreground: var(--color-primary);
    --primary: var(--color-primary);
    --primary-foreground: #ffffff;
    --accent: var(--color-accent);
    --accent-foreground: #ffffff;
    --radius: 0.5rem;
    --ring: #3B82F6;
    --border: #E5E7EB;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--color-background-dark);
      --foreground: #ffffff;
      --card: #1A1A24;
      --card-foreground: #ffffff;
      --primary: #3B82F6;
      --primary-foreground: #ffffff;
      --accent: var(--color-accent);
      --accent-foreground: #ffffff;
      --ring: #3B82F6;
      --border: #E5E7EB;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-anton);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@theme inline {
  --animate-meteor: meteor 5s linear infinite;
  @keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
    }
  70% {
    opacity: 1;
    }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
    }
  }
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite
;
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
  0% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  25% {
    background-position: 50% 100%;
    transform: rotate(5deg) scale(1.1);
    }
  50% {
    background-position: 100% 50%;
    transform: rotate(-3deg) scale(0.95);
    }
  75% {
    background-position: 50% 0%;
    transform: rotate(3deg) scale(1.05);
    }
  100% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  }}

@layer base {
  * {
    @apply border-[var(--border)] outline-[var(--ring)]/50;
  }
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
}
